* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --one-color: #d0e1f9;
    --second-color: #4d648d;
    --third-color: #283655;
    --fourth-color: #1e1f26;
    --transition-fast: all 0.2s ease;
    --transition-slow: all 0.5s ease;
    --footer-background-color: #52525c;
    --footer-text-color: #a9b3bb;
}

html {
    font-size: 16px;
}

.contract__container {
    padding: 0px !important;
}

.section__title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 12px 0;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    color: var(--third-color);
}

.section__title::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    background-color: rgb(233, 190, 125);
}


/* main */


/* .contract__body {
    border: 1px solid #ddd;
    padding: 0 12px;
    margin-top: 36px;
    border-radius: 4px;
} */

.contract__item-heading {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 24px;
    border-bottom: 1px solid #ddd;
    padding: 4px 0 !important;
}

.contract__item-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
    margin-top: 12px;
}

.contract__item-group {
    display: flex;
    padding-bottom: 12px;
}

.contract__item-label {
    width: 120px;
    /* font-weight: 500; */
}

.contract__item-value {
    flex: 1;
    color: rgb(35, 47, 224);
}

.contract__image {
    padding: 24px 0;
}

.contract__image-heading {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 12px;
}

.contract__image-body {
    padding: 12px;
    background-color: #ddd;
    text-align: center;
}

.contract__image-img {
    width: 90%;
}