* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --one-color: #d0e1f9;
    --second-color: #4d648d;
    --third-color: #283655;
    --fourth-color: #1e1f26;
    --transition-fast: all 0.2s ease;
    --transition-slow: all 0.5s ease;
    --footer-background-color: #52525c;
    --footer-text-color: #a9b3bb;
}

.header__container {
    background-color: var(--second-color);
}

.header__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.logo {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 24px;
    flex-shrink: 2;
}

.logo__img {
    width: 100%;
}


/* menu */

.menu__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu__item {}

.menu__item-link {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.74);
    font-size: 16px;
    padding: 12px 20px;
    text-transform: uppercase;
}

.menu__item-link:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: var(--transition-fast);
    font-weight: bold;
}

.menu__item-link.active {
    color: rgb(255, 255, 255);
    font-weight: bold;
}


/* account */

.account__container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
}

.account__container .account__icon {
    font-size: 20px;
    color: white;
}

.account__list {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    box-shadow: 0px 3px 6px #ddd;
    padding: 8px 0;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    display: none;
    z-index: 10;
}

.account__container:hover .account__list {
    display: block;
}

.account__list::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: -15px;
}

.arrow-top::before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    z-index: 1;
}

.account__item {
    display: flex;
    direction: row;
    padding: 6px 12px;
}

.account__item-icon {
    margin-right: 24px;
}

.account__item-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.account__item-link:hover {
    text-decoration: none;
    color: inherit;
}

.account__item:hover {
    color: var(--second-color);
    transition: var(--transition-fast);
    background-color: #ddd;
}


/* new css */
.menu__layer {
       display: none;
}

.menu__container {
    display: none;
}

.menu__item-media {
    display: none;
}

.menu__item-title {
    display: none;
}

.menu__layer-close {
    
}

.menu__layer-close-icon {

}



/* reponsive */

@media (max-width: 767px) {  

    .logo {
        margin-right: 0;
    }

    .header__body {
    }

    .menu__bar {
        font-size: 24px;
        color: rgb(194, 188, 188);
    }

    .menu__layer {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(114, 109, 109, 0.363);
        z-index: 100;
    }

    .menu__layer.active {
        display: block;
    }

    .active-in-mobile {
        display: flex;
        position: fixed;
        flex-direction: column;
        color: black;
        left: 0;
        top: 0;
        bottom: 0;
        width: 240px;
        background-color: #1e1f26;
        z-index: 1000;
        justify-content: start;
        align-items: flex-start;
        opacity: 0;
        animation: fadeInMenuMobile 0.3s ease forwards;
    }

    @keyframes fadeInMenuMobile {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
      }



    .menu__item {
        display: block;
        width: 100%;
        border-top: 1px solid rgb(133, 130, 130);
    }

 

    .menu__item-link {
        /* color: black; */
        transition: var(--transition-fast);
        /* background-color: #4b4c4d; */
        display: block;
        width: 100%;
    }

    .menu__item-link:hover {
        background-color: #4d648d;
    }

    .menu__item-title {
        display: flex;
        border-top: none;
        justify-content: center;
        align-items: center;
        padding: 12px 0;
        color: rgba(255, 255, 255, 0.74);
        background-color: var(--third-color-color);
        color: rgb(37, 209, 37);
        font-weight: bold;
        padding-bottom: 24px;
        padding-top: 24px;
        font-size: 24px;
    }
  

    .menu__item-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
    }

    .menu__item-link-media {
        display: block;
        padding: 0 8px;
        color: rgba(255, 255, 255, 0.74);
        
    }

    .menu__item-link-media-icon {
        font-size: 24px;
        
    }
    
    .menu__item-link-media:hover .menu__item-link-media-icon {
        color: white;
        transition: var(--transition-fast);
        transform: scale(1.2);
    }

    
    .menu__layer-close {
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 8px;
        cursor: pointer;
        color: white;
        transition: var(--transition-fast);
        opacity: 0;
        animation: fadeInBtnClose 0.3s linear forwards;
    }

    @keyframes fadeInBtnClose {
        from {
            opacity: 0;
            transform: translateY(40px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
      }
    
    .menu__layer-close-icon {
        font-size: 36px;
    }
    
    .menu__layer-close:hover {
        color: rgb(206, 76, 76);
        transform: scale(1.2);
    }

}