.list-bill tbody th span {
    display: flex;
    justify-content: space-between;
}

.list-bill tbody th span p:nth-child(1) {
    font-weight: 400;
}

.list-bill tbody th {
    height: 100%;
}

.modal-body {
    font-weight: 500;
}

.note {
    color: red;
    font-style: italic;
}

.times div {
    color: #007bff;
    font-style: italic;
}
