* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --one-color: #d0e1f9;
    --second-color: #4d648d;
    --third-color: #283655;
    --fourth-color: #1e1f26;
    --transition-fast: all 0.2s ease;
    --transition-slow: all 0.5s ease;
    --footer-background-color: #52525c;
    --footer-text-color: #a9b3bb;
}

html {
    font-size: 16px;
}


/* common */

.section__container {
    padding: 36px 0;
}

.section__title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 12px 0;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    color: var(--third-color);
}

.section__title::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    background-color: rgb(233, 190, 125);
}


/* end common */


/* builds page */

.build__container {
    padding: 0 !important;
}


/* main */


/* advertise */

.advertise {
    display: flex;
    flex-direction: column;
    padding-top: 68px;
    height: 100%;
    justify-content: center;
    padding-left: 12px;
    justify-content: center;
    position: relative;
}

.advertise__item {
    width: 100%;
    height: 200px;
    background-size: cover;
    margin-bottom: 24px;
}

.advertise__item-1 {
    background-image: url(../images/advertise__img1.jpg);
}

.advertise__item-2 {
    background-image: url(../images/advertise__img2.jpg);
}

.advertise__item-3 {
    background-image: url(../images/advertise__img3.jpg);
}

.advertise__item-4 {
    background-image: url(../images/advertise__img4.jpg);
}


/* builds */

.builds__title {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 24px;
}

.buils__body {
    padding-top: 36px;
}


/* build */

.build {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgb(189, 186, 186);
    position: relative;
    margin-bottom: 24px;
    background-color: white;
}

.build:hover {
    top: -2px;
    transition: var(--transition-fast);
}

.build__top {
    position: relative;
}

.build__top-img {
    width: 100%;
}

.build__top-status {
    position: absolute;
    padding: 4px 8px;
    background-color: rgb(121, 230, 20);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    top: 8px;
    left: 12px;
    box-shadow: 1px 1px 3px #7b7d81;
}

.build__top-status-full {
    background-color: rgb(207, 48, 37);
}

.build__top-favorite {
    position: absolute;
    top: 4px;
    right: 24px;
    font-size: 28px;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.build__top-favorite.active i {
    color: rgb(226, 32, 32);
}

.build__top-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    opacity: 0;
    transition: var(--transition-slow);
}

.build:hover .build__top-link {
    opacity: 1;
}

.build__top-link-icon {}

.build__top-link-text {}

.build__body {
    padding: 8px 20px;
}

.build__body-item {
    padding: 8px 0;
}

.build__body-item-label {
    display: inline-block;
    padding-right: 8px;
    color: rgb(136, 132, 132);
}

.build__body-item-value {
    font-weight: 500;
    color: rgb(83, 82, 82);
}

.build__body-item-sub {
    font-weight: 500;
    color: rgb(83, 82, 82);
}

.footer__container {
    height: 400px;
    background-color: #1e1f26;
    display: flex;
    justify-content: center;
    align-items: center;
}